/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ========================= Base Styles ========================= */

/* Variables */
:root {
  --white: #ffffff;
  --pale-blue: hsl(225, 100%, 94%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --bright-blue: hsl(245, 75%, 52%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

body {
  background-color: var(--pale-blue);
}

main {
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-position: top 50% 50%;
  background-color: var(--pale-blue);
  display: grid;
  place-content: center;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  position: relative;
  z-index: 1;
}

/* main::before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  background-image: top no-repeat url(./images/pattern-background-mobile.svg);
  position: absolute;
  z-index: 2;
  overflow: clip;
} */

h1,
h2,
h3 {
  text-align: center;
  color: var(--dark-blue);
}

h1 {
  font-size: 1.75rem;
}

p {
  text-align: center;
  color: var(--desaturated-blue);
  font-weight: 500;
  line-height: 1.5rem;
}

.summary-container {
  border-radius: 20px;
  max-width: 28rem;
  background-color: var(--white);
  margin: 5rem 1.5rem;
  display: grid;
  padding-bottom: 1rem;
  z-index: 3;
}

.hero {
  border-radius: 20px 20px 0 0;
}

.summary-title {
  font-size: 1.5rem;
  margin: 1.5rem 0 1rem 0;
}

.summary-text {
  margin: 0 2rem 0.5rem 2rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.plan-details-container {
  background-color: var(--very-pale-blue);
  border-radius: 10px;
  margin: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.plan {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 0.875rem;
}

.plan-title {
  font-size: 1rem;
}

.plan-price {
  text-align: left;
}

.change-link {
  font-size: 0.8125rem;
  font-weight: 500;
  color: var(--bright-blue);
  text-decoration: none;
  border-bottom: solid 1px var(--bright-blue);
}

.cancel-link {
  text-decoration: none;
  color: var(--desaturated-blue);
  font-weight: 700;
  grid-column: 1 / -1;
  justify-self: center;
  margin: 0.75rem;
}

.btn-proceed {
  padding: 1rem;
  margin: 0.5rem 1.5rem 1rem 1.5rem;
  background-color: var(--bright-blue);
  color: var(--white);
  font-weight: 700;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 20px 10px var(--pale-blue);
}
